<!DOCTYPE html>
<html>
<title>Grades Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- W3 includes: -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap includes: -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- Code includes: -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../js/login.js"></script>
<script src="../js/students.js"></script>
<script src="../js/teachers.js"></script>

<!-- Content -->
<style> body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif} </style>
<body class="w3-light-grey w3-content" style="max-width:1680px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="../images/student_icon.png" style="width:45%;" class="w3-round"><br><br>
    <h4 id="name"><b>NAME OF STUDENT</b></h4>
    <p class="w3-text-grey">Tecnológico de Monterrey</p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>COURSES</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT ME</a> 
    <a href="#configuration" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw w3-margin-right"></i>CONFIGURATION</a>
    <a href="#logout" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-o fa-fw w3-margin-right"></i>LOGOUT</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- PAGE CONTENT -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="../images/student_icon.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1 id="name2"><b><br>NAME OF STUDENT</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black">ALL</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>COURSES</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>LOCATION</button>
    </div>
    </div>
  </header>
  
  <!-- Table -->
  <h3><b> &ensp; COURSES: <br></b></h3>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Professor</th>
        <th scope="col">Week 1</th>
        <th scope="col">Week 2</th>
        <th scope="col">Week 3</th>
        <th scope="col">Week 4</th>
        <th scope="col">Avarage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr>
        <th scope="row">1</th>
        <td>Physics 1</td>
        <td>Carlos Enrique Vega Alvares</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Global History</td>
        <td>Vicente Cubells Nonell</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>French I</td>
        <td>Professor 1</td>
        <td>90</td>
        <td>90</td>
        <td>90</td>
        <td>90</td>
        <td>90</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Chemistry</td>
        <td>Professor 2</td>
        <td>85</td>
        <td>85</td>
        <td>85</td>
        <td>85</td>
        <td>85</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Biology</td>
        <td>Professor 3</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Math I</td>
        <td>Professor 4</td>
        <td>87</td>
        <td>87</td>
        <td>87</td>
        <td>87</td>
        <td>87</td>
      </tr>
    </tbody>
  </table>
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>Exchange Program</h3>
      <p>Caring about our students and Foreign Universities, Tecnológico de Monterrey created the new Exchange Program portal. For more information or any doubts, do not hesitate on contact us.</p>
      <p>Via web: <a href="https://mitec.itesm.mx" target="_blank">info.itesm.mx</a></p>
      <p>Via e-mail: <a href="https://mitec.itesm.mx" target="_blank">info-portals@itesm.mx</a></p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="../images/david-garza.png" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Dispatch</span><br>
          <span>From David Garza.</span>
        </li>
        <li class="w3-padding-16">
          <img src="../images/students.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Proud for our students</span><br>
          <span>New invention from Tec students...</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">International Programs</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Tec</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Opportunities</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Study Abroad</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Job Opportunities</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Our Students</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">LiFE</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Our Teachers</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Campus Life</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Bylaw</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">TEC Store</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">More</span>
      </p>
    </div>

  </div>
  </footer>
  
  <div class="w3-black w3-center w3-padding-20"><a href="https://mitec.itesm.mx" title="MiTec" target="_blank" class="w3-hover-opacity">Tecnológico de Monterrey ©</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>